:root {
  --main-grey : #EAEAEA;
  --card-dark-sky-blue : #98C1D9;
  --main-blue : #1B3A85;
  --main-orange : #e67817;
}

.bg-main-blue {
  background-color: var(--main-blue);
}

.bg-main-orange {
  background-color: var(--main-orange);
  
}

.bg-danger-light {
  background-color: #E66363;
}

.bg-image__logo {
  position: absolute;
  top: calc(100vh - 250px);
  left: calc(50% - 245px);
  height: 150px;
  width: 480px;
  background-image: url('./assets/logo-amavenca-wall.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}


.tasa_del_dia--text {
  margin-right: -90px;
}

.form-background {
  background-color: var(--main-blue);
  min-height: 217px;
}

.line{
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.form-control input {
  position: absolute;
  width: 100px;
}

.footer-banner img{
  width: 100%;
}

.custom-margin__footer {
  margin-left: -0.3rem;
  margin-right: -0.3rem;
}

.main-background {
  background: linear-gradient(to right, var(--main-blue) 50%, var(--main-orange) 0%);
}



@media (min-width:1400px){

  .container {
    max-width: 1080px;
  }
}